body, html {
    height: 100%;
}

.container {
    display: flex;
}

.container > * {
    display: flex ;
    flex: 1 1 auto;
    border: 1px dashed grey;
    padding: .2rem;
}

#errors:empty {
    display: none;
}

#errors {
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
}

.error {
    display: flex;
    flex-wrap: wrap;
    margin: .2rem 0;
}

.error > span {
    width: 100%;
}

.token, .ast_node, .ir_instruction {
    margin: .2rem;
    padding: .2rem;
}

.token, .ast_node {
    border: 1px solid black;
    border-radius: .3rem;
}

#parse, #ir, #regalloc {
    display: flex ;
    flex-direction: column;
    align-items: flex-start;
}

#lex {
    align-items: flex-start;
}

