body, html {
    height: 100%;
}

.container {
    display: flex;
}

.container > * {
    flex: 1;
    border: 1px dashed grey;
    margin: 0;
    padding: .5rem;
}

#errors:empty {
    display: none;
}

#errors {
    display: flex;
    flex-wrap: wrap;
}

.error {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: .5rem 0;
}

.error > span {
    width: 100%;
}

.token, .ast_node, .ir_instruction {
    margin: .2rem;
    padding: .2rem;
}

.token, .ast_node {
    border: 1px solid black;
    border-radius: .3rem;
}

#parse, #ir, #regalloc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
